.home {
    border: 2px solid red;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 75px);
    margin-top: 75px;
    object-fit: cover;
    z-index: -1;
}

.home-title {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    z-index: 0;
    font-size: 2.5rem;
    animation: droptitle 1.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes droptitle {
    from {
        top: 200px;
        font-size: 0.5rem;
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
    }

    to {
        top: 50%;
        font-size: 2.5rem;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
    }
}