.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    top: 0;
    width: 100vw;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    gap: 30px;
}

.nav-list>* {
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    padding: 6px 10px;
    color: black;
    border-radius: 8px;
}

.nav-list>*:hover {
    background-color: white;
}

.nav-list>*:focus {
    background-color: white;
}


.cart-btn {
    border-radius: 50%;
    padding-top: 5px;
    background-color: skyblue;
    border: 2px solid black;
    position: relative;
    margin: 20px;
}

.cart-btn:hover {
    cursor: pointer;
    background-color: white;
}

.cart-icon {
    width: 30px;
    padding: 3px;
}

.counter {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

/* Add media query for the menu button */
@media (max-width: 400px) {}