.store {
    margin-top: 75px;
}

.store-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 0.75rem;

}

img {
    width: 200px;
    height: auto;
    object-fit: cover;
}