.store {
    margin-top: 75px;
    padding: 25px;
}

.loader {
    margin-top: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
}

.item-title {
    flex: 1;
    font-size: 1rem;
}

.item-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.item-price {
    font-size: 0.75rem;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.min-plus-container {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-between;
}

.minus-btn,
.plus-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 7px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    border: 1px solid black;
}

.remove-btn,
.add-cart-btn {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 8px;
    padding: 7px;
}

.minus-btn:hover,
.plus-btn:hover,
.remove-btn:hover,
.add-cart-btn:hover {
    cursor: pointer;
    background-color: aquamarine;
}

.minus-btn:hover {
    transform: rotate(-1turn);
    transition: transform 1s 0s;
}

.plus-btn:hover {
    transform: rotate(1turn);
    transition: transform 1s 0s;
}